*{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}


ul{
    width: 100vw; height: auto;
    margin:auto ;
    display: flex;
   text-align: center;
   flex-direction: row;
   justify-content: space-around;
   -ms-flex-align: center;
   flex-wrap: wrap;
   transition: all 0.2 linear;

    
}

ul li{
    list-style: none;
    color: aliceblue;
    margin: 20px;
    padding: 20px;
    font-size: 50px;
    flex: 1 1 200px;
    
    
}
span{
    font-size:medium;
}


.rec{
    background-color: #68FF00;
    box-shadow: 20px 20px 50px grey;
}
.rec:hover{
    background-color: #62e80a ; 
    opacity: 0.9, 0.8, 0.7 ;
}
.death{
    background-color: #FF005C;
    box-shadow: 20px 20px 50px grey;
    
}
.death:hover{
    background-color:#e3105d ; 
    opacity: 0.9, 0.8, 0.7 ;
}
.active{
    background-color: #13F4EF;
     box-shadow: 20px 20px 50px grey;
}
.active:hover{
    background-color:#0ee6e2 ; 
    opacity: 0.9, 0.8, 0.7 ;
}
.con{
    background-color: #006FFF;
    box-shadow: 20px 20px 50px grey;
} 
.con:hover{
    background-color:#1d69cd ; 
    opacity: 0.9, 0.8, 0.7 ;
}

 .secP{
 text-shadow: 5px 5px 5px black;
 color: white;
 font-weight: bold;
 padding-bottom: 20px;
}

section h2{
    display: block;
    background-color: #FAFF00;
    color: black;
    box-shadow: 20px 20px 80px gray;
    padding: 20px;
    margin: 50px;
    text-align: center;
}

@media screen and (max-width:600px) {
    ul{
        display: flex;
       text-align: center;
       flex-direction: row;
       flex-wrap: wrap; 
       align-items: center;
       justify-content: center;
        
    }
  
}
